.sidebar {
  background-color: var(--sidebar-background);
  color:white;
  width: 200px;
  height: 100vh;
  padding: 4rem 1rem;
  box-sizing: border-box;
}

.sidebar-nav {
  padding: 0;
  margin: 0;
}

.sidebar-nav-item {
  list-style: none;
  margin-bottom: 1rem;
}

.sidebar-nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--sidebar-text);
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.sidebar-nav-link:hover {
  background-color: var(--sidebar-hover);
}
.sidebar-nav-link.active {
  background-color: var(--sidebar-active);
  font-weight: bold;
}

.sidebar-icon {
  width: 2rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}