<div class="sidebar">
    <nav>
        <ul class="sidebar-nav">
            <li class="sidebar-nav-item">
                <a routerLink="/home" routerLinkActive="active" class="sidebar-nav-link">
                    <img src="../../assets/image/Home.png" alt="Home" class="sidebar-icon">
                    Home
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a routerLink="/forecast" routerLinkActive="active" class="sidebar-nav-link">
                    <img src="../../assets/image/Fog.png" alt="Forecast" class="sidebar-icon">
                    Forecast
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a routerLink="/location" routerLinkActive="active" class="sidebar-nav-link">
                    <img src="../../assets/image/Where.png" alt="Location" class="sidebar-icon">
                    Location
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a routerLink="/analytics" routerLinkActive="active" class="sidebar-nav-link">
                    <img src="../../assets/image/Pie Chart.png" alt="Analytics" class="sidebar-icon">
                    Analytics
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a routerLink="/calendar" routerLinkActive="active" class="sidebar-nav-link">
                    <img src="../../assets/image/Baby Calendar.png" alt="Calendar" class="sidebar-icon">
                    Calendar
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a routerLink="/settings" routerLinkActive="active" class="sidebar-nav-link">
                    <img src="../../assets/image/Settings.png" alt="Settings" class="sidebar-icon">
                    Settings
                </a>
            </li>
        </ul>
    </nav>
</div>