@import "../../mixsin.scss";

.dashboard-container {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.content-area {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}
.sidebar-nav-link.active {
  background-color: var(--sidebar-active);
  font-weight: bold;
}