/* You can add global styles to this file, and also import other style files */
@import "mixsin.scss";
:root {
  --background: #{get-color($light-mode, background)};
  --text: #{get-color($light-mode, text)};
  --card-background: #{get-color($light-mode, card-background)};
  --card-text: #{get-color($light-mode, card-text)};
  --border: #{get-color($light-mode, border)};
  --filter-background: #{get-color($light-mode, filter-background)};
  --sidebar-background: #{get-color($light-mode, sidebar-background)};
  --highlight: #{get-color($light-mode, highlight)};
}

[data-theme='dark'] {
  --background: #{get-color($dark-mode, background)};
  --text: #{get-color($dark-mode, text)};
  --card-background: #{get-color($dark-mode, card-background)};
  --card-text: #{get-color($dark-mode, card-text)};
  --border: #{get-color($dark-mode, border)};
  --filter-background: #{get-color($dark-mode, filter-background)};
  --sidebar-background: #{get-color($dark-mode, sidebar-background)};
  --highlight: #{get-color($dark-mode, highlight)};
}

body {
  background-color: var(--background);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { 
  height: 100%; 
}